<div *ngIf="!loading; else loadingData">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="d-flex justify-content-between mt-7">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
              <li class="breadcrumb-item">
                <a routerLink="/recipes">Recipes</a>
              </li>
              <li class="breadcrumb-item" routerLinkActive="active">
                {{ recipeDetail.title }} ({{ recipeDetail.id }})
              </li>
            </ol>
          </nav>
        </div>
        <div class="row mt-4">
          <div class="col-md-12">
            <div class="card">
              <div class="card-body p-3">
                <div class="row">
                  <div class="col-lg-6">
                    <div class="d-flex flex-column h-100">
                      <h5 class="font-weight-bolder">
                        {{ recipeDetail.title }}
                      </h5>
                      <p class="mb-5">
                        Health Score - {{ recipeDetail.healthScore }}%
                      </p>
                      <a
                        class="text-body text-sm font-weight-bold mb-0 icon-move-right mt-auto"
                        href="javascript:;"
                      >
                        Spoonacular Score -
                        {{ recipeDetail.spoonacularScore | number : "1.0-1" }}
                      </a>
                    </div>
                  </div>
                  <div class="col-lg-5 ms-auto text-center mt-5 mt-lg-0">
                    <div class="image-container h-100">
                      <img
                        src="{{ recipeDetail.image }}"
                        class="img-fluid d-lg-block d-none"
                        alt="{{ recipeDetail.title }}"
                      />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row mt-4">
              <div class="col-md-3">
                <div class="card">
                  <div class="card-body text-lg-left text-center">
                    <div
                      class="d-flex justify-content-lg-start justify-content-center p-2"
                    >
                      <ng-template
                        *ngIf="recipeDetail.veryHealthy; then icon; else noIcon"
                      >
                      </ng-template>
                      <div>
                        <span class="ps-3">Very Healthy</span>
                      </div>
                    </div>
                    <div
                      class="d-flex justify-content-lg-start justify-content-center p-2"
                    >
                      <ng-template
                        *ngIf="recipeDetail.vegetarian; then icon; else noIcon"
                      >
                      </ng-template>
                      <div>
                        <span class="ps-3">Vegetarian</span>
                      </div>
                    </div>
                    <div
                      class="d-flex justify-content-lg-start justify-content-center p-2"
                    >
                      <ng-template
                        *ngIf="recipeDetail.vegan; then icon; else noIcon"
                      >
                      </ng-template>
                      <div>
                        <span class="ps-3">Vegan</span>
                      </div>
                    </div>
                    <div
                      class="d-flex justify-content-lg-start justify-content-center p-2"
                    >
                      <ng-template
                        *ngIf="recipeDetail.glutenFree; then icon; else noIcon"
                      >
                      </ng-template>
                      <div>
                        <span class="ps-3">Gluten Free</span>
                      </div>
                    </div>
                    <div
                      class="d-flex justify-content-lg-start justify-content-center p-2"
                    >
                      <ng-template
                        *ngIf="recipeDetail.dairyFree; then icon; else noIcon"
                      >
                      </ng-template>
                      <div>
                        <span class="ps-3">Dairy Free</span>
                      </div>
                    </div>
                    <ng-template #icon>
                      <div
                        class="icon icon-shape icon-xs rounded-circle bg-gradient-success shadow text-center text-white"
                      >
                        <fa-icon [icon]="faCheck" class="opacity-10"></fa-icon>
                      </div>
                    </ng-template>
                    <ng-template #noIcon>
                      <div
                        class="icon icon-shape icon-xs rounded-circle bg-gradient-secondary shadow text-center text-white"
                      >
                        <fa-icon [icon]="faMinus"></fa-icon>
                      </div>
                    </ng-template>
                  </div>
                </div>
                <div class="card mt-5">
                  <div class="card-body">
                    <div class="progress-wrapper mt-3">
                      <div class="progress-info">
                        <div
                          class="progress-percentage d-flex justify-content-between mb-2"
                        >
                          <span class="text-sm font-weight-bold">Sweet</span>
                          <span class="text-sm font-weight-bold"
                            >{{ tasteDetails.sweetness }}%</span
                          >
                        </div>
                      </div>
                      <div class="progress">
                        <div
                          class="progress-bar bg-gradient-primary"
                          role="progressbar"
                          [attr.aria-valuenow]="tasteDetails.sweetness"
                          aria-valuemin="0"
                          aria-valuemax="100"
                          [ngStyle]="{ width: tasteDetails.sweetness + '%' }"
                        ></div>
                      </div>
                    </div>
                    <div class="progress-wrapper mt-3">
                      <div class="progress-info">
                        <div
                          class="progress-percentage d-flex justify-content-between mb-2"
                        >
                          <span class="text-sm font-weight-bold">Salt</span>
                          <span class="text-sm font-weight-bold"
                            >{{ tasteDetails.saltiness }}%</span
                          >
                        </div>
                      </div>
                      <div class="progress">
                        <div
                          class="progress-bar bg-gradient-secondary"
                          role="progressbar"
                          [attr.aria-valuenow]="tasteDetails.saltiness"
                          aria-valuemin="0"
                          aria-valuemax="100"
                          [ngStyle]="{ width: tasteDetails.saltiness + '%' }"
                        ></div>
                      </div>
                    </div>
                    <div class="progress-wrapper mt-3">
                      <div class="progress-info">
                        <div
                          class="progress-percentage d-flex justify-content-between mb-2"
                        >
                          <span class="text-sm font-weight-bold">Sour</span>
                          <span class="text-sm font-weight-bold"
                            >{{ tasteDetails.sourness }}%</span
                          >
                        </div>
                      </div>
                      <div class="progress">
                        <div
                          class="progress-bar bg-gradient-info"
                          role="progressbar"
                          [attr.aria-valuenow]="tasteDetails.sourness"
                          aria-valuemin="0"
                          aria-valuemax="100"
                          [ngStyle]="{ width: tasteDetails.sourness + '%' }"
                        ></div>
                      </div>
                    </div>
                    <div class="progress-wrapper mt-3">
                      <div class="progress-info">
                        <div
                          class="progress-percentage d-flex justify-content-between mb-2"
                        >
                          <span class="text-sm font-weight-bold">Bitter</span>
                          <span class="text-sm font-weight-bold"
                            >{{ tasteDetails.bitterness }}%</span
                          >
                        </div>
                      </div>
                      <div class="progress">
                        <div
                          class="progress-bar bg-gradient-success"
                          role="progressbar"
                          [attr.aria-valuenow]="tasteDetails.bitterness"
                          aria-valuemin="0"
                          aria-valuemax="100"
                          [ngStyle]="{ width: tasteDetails.bitterness + '%' }"
                        ></div>
                      </div>
                    </div>
                    <div class="progress-wrapper mt-3">
                      <div class="progress-info">
                        <div
                          class="progress-percentage d-flex justify-content-between mb-2"
                        >
                          <span class="text-sm font-weight-bold">Savor</span>
                          <span class="text-sm font-weight-bold"
                            >{{ tasteDetails.savoriness }}%</span
                          >
                        </div>
                      </div>
                      <div class="progress">
                        <div
                          class="progress-bar bg-gradient-danger"
                          role="progressbar"
                          [attr.aria-valuenow]="tasteDetails.savoriness"
                          aria-valuemin="0"
                          aria-valuemax="100"
                          [ngStyle]="{ width: tasteDetails.savoriness + '%' }"
                        ></div>
                      </div>
                    </div>
                    <div class="progress-wrapper mt-3">
                      <div class="progress-info">
                        <div
                          class="progress-percentage d-flex justify-content-between mb-2"
                        >
                          <span class="text-sm font-weight-bold">Fat</span>
                          <span class="text-sm font-weight-bold"
                            >{{ tasteDetails.fattiness }}%</span
                          >
                        </div>
                      </div>
                      <div class="progress">
                        <div
                          class="progress-bar bg-gradient-warning"
                          role="progressbar"
                          [attr.aria-valuenow]="tasteDetails.fattiness"
                          aria-valuemin="0"
                          aria-valuemax="100"
                          [ngStyle]="{ width: tasteDetails.fattiness + '%' }"
                        ></div>
                      </div>
                    </div>
                    <div class="progress-wrapper mt-3">
                      <div class="progress-info">
                        <div
                          class="progress-percentage d-flex justify-content-between mb-2"
                        >
                          <span class="text-sm font-weight-bold">Spice</span>
                          <span class="text-sm font-weight-bold"
                            >{{ tasteDetails.spiciness }}%</span
                          >
                        </div>
                      </div>
                      <div class="progress">
                        <div
                          class="progress-bar bg-gradient-dark"
                          role="progressbar"
                          [attr.aria-valuenow]="tasteDetails.spiciness"
                          aria-valuemin="0"
                          aria-valuemax="100"
                          [ngStyle]="{ width: tasteDetails.spiciness + '%' }"
                        ></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-9">
                <div class="row">
                  <div class="col-md-6">
                    <div class="card card-body pill-card p-3 mt-3">
                      <h5 class="font-weight-bolder">Cuisines</h5>
                      <div
                        *ngIf="recipeDetail.cuisines?.length > 0; else noData"
                      >
                        <span
                          class="badge badge-pill badge-lg bg-gradient-primary m-1"
                          *ngFor="let cuisine of recipeDetail.cuisines"
                          >{{ cuisine | titlecase }}</span
                        >
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="card card-body pill-card p-3 mt-3">
                      <h5 class="font-weight-bolder">Dish Types</h5>
                      <div
                        *ngIf="recipeDetail.dishTypes?.length > 0; else noData"
                      >
                        <span
                          class="badge badge-pill badge-lg bg-gradient-primary m-1"
                          *ngFor="let dish of recipeDetail.dishTypes"
                          >{{ dish | titlecase }}</span
                        >
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="card card-body pill-card p-3 mt-3">
                      <h5 class="font-weight-bolder">Diets</h5>
                      <div *ngIf="recipeDetail.diets?.length > 0; else noData">
                        <span
                          class="badge badge-pill badge-lg bg-gradient-primary m-1"
                          *ngFor="let diet of recipeDetail.diets"
                          >{{ diet | titlecase }}</span
                        >
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="card card-body pill-card p-3 mt-3">
                      <h5 class="font-weight-bolder">Occasions</h5>
                      <div
                        *ngIf="recipeDetail.occasions?.length > 0; else noData"
                      >
                        <span
                          class="badge badge-pill badge-lg bg-gradient-primary m-1"
                          *ngFor="let occ of recipeDetail.occasions"
                          >{{ occ | titlecase }}</span
                        >
                      </div>
                    </div>
                  </div>
                  <ng-template #noData>
                    <p class="p-2 text-center">No Data Available</p>
                  </ng-template>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <div class="card card-body mt-4 p-3">
                      <h5>Summary</h5>
                      <div [innerHTML]="summary"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row mt-3">
              <div class="col-md-6">
                <div class="card h-100">
                  <div class="card-header pb-0 p-3">
                    <h6 class="mb-0">Ingredients</h6>
                  </div>
                  <div class="card-body">
                    <ul class="list-group">
                      <li
                        class="list-group-item border-0 d-flex align-items-center px-0 mb-2"
                        *ngFor="
                          let ingredient of recipeDetail.extendedIngredients
                        "
                      >
                        <div class="avatar me-3">
                          <img
                            src="https://img.spoonacular.com/ingredients_100x100/{{
                              ingredient.image
                            }}"
                            alt="{{ ingredient.original }}"
                            class="border-radius-lg shadow"
                          />
                        </div>
                        <div
                          class="d-flex align-items-start flex-column justify-content-center"
                        >
                          <h6 class="mb-0 text-sm">
                            {{ ingredient.nameClean | titlecase }}
                          </h6>
                          <p class="mb-0 text-xs">
                            {{ ingredient.original | titlecase }} (Quantity -
                            {{ ingredient.amount }} {{ ingredient.unit }})
                          </p>
                        </div>
                        <a
                          class="btn btn-link pe-3 ps-0 mb-0 ms-auto"
                          (click)="getIngredientDetails(ingredient.id)"
                          >View</a
                        >
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="card h-100">
                  <div class="card-header pb-0 p-3">
                    <h6 class="mb-0">Equipments</h6>
                  </div>
                  <div class="card-body">
                    <ul class="list-group">
                      <li
                        class="list-group-item border-0 d-flex align-items-center px-0 mb-2"
                        *ngFor="let equipment of equipmentDetails.equipment"
                      >
                        <div class="avatar me-3">
                          <img
                            src="https://img.spoonacular.com/equipment_100x100/{{
                              equipment.image
                            }}"
                            alt="{{ equipment.name }}"
                            class="border-radius-lg shadow"
                          />
                        </div>
                        <div
                          class="d-flex align-items-start flex-column justify-content-center"
                        >
                          <h6 class="mb-0 text-sm">
                            {{ equipment.name | titlecase }}
                          </h6>
                        </div>
                        <a
                          class="btn btn-link pe-3 ps-0 mb-0 ms-auto"
                          href="javascript:;"
                          >View</a
                        >
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="row mt-3">
              <div class="col-md-6">
                <div class="card h-100">
                  <div class="card-header pb-0 p-3">
                    <h6 class="mb-0">Instructions</h6>
                  </div>
                  <div class="card-body">
                    <div [innerHTML]="instructions"></div>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="card h-100">
                  <div class="card-header pb-0 p-3">
                    <h6 class="mb-0">Analyzed Instruction</h6>
                  </div>
                  <div class="card-body p-3">
                    <div
                      class="timeline timeline-one-side"
                      *ngFor="let analyzedInstruction of analyzedInstructions"
                    >
                      <div
                        class="timeline-block mb-3"
                        *ngFor="let extIns of analyzedInstruction.steps"
                      >
                        <span class="timeline-step">
                          <i
                            class="ni ni-bell-55 text-success text-gradient"
                          ></i>
                        </span>
                        <div class="timeline-content">
                          <h6 class="text-dark text-sm font-weight-bold mb-0">
                            Step {{ extIns.number }}
                          </h6>
                          <p
                            class="text-secondary font-weight-bold text-xs mt-1 mb-0"
                          >
                            {{ extIns.step }}
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #loadingData>
  <p class="text-center mt-8">Loading...</p>
</ng-template>
