<div class="container position-sticky z-index-sticky top-0">
  <div class="row">
    <div class="col-12">
      <nav
        class="navbar navbar-expand-lg blur blur-rounded top-0 z-index-3 shadow position-absolute my-3 py-2 start-0 end-0 mx-4"
      >
        <div class="container-fluid">
          <a
            class="navbar-brand font-weight-bolder ms-lg-0 ms-3"
            routerLink="/"
          >
            Food Recipe
          </a>
          <button
            class="navbar-toggler shadow-none ms-2"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navigation"
            aria-controls="navigation"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon mt-2">
              <span class="navbar-toggler-bar bar1"></span>
              <span class="navbar-toggler-bar bar2"></span>
              <span class="navbar-toggler-bar bar3"></span>
            </span>
          </button>
          <div class="collapse navbar-collapse" id="navigation">
            <ul class="navbar-nav ms-auto" *ngIf="isLoggedIn">
              <li class="nav-item">
                <a
                  class="nav-link d-flex align-items-center me-2 active"
                  routerLink="/recipes"
                >
                  <fa-icon
                    [icon]="faBowlFood"
                    class="opacity-6 text-dark me-1"
                  ></fa-icon>
                  Recipes
                </a>
              </li>
            </ul>
            <ul class="navbar-nav d-lg-flex d-none ms-auto">
              <li class="nav-item d-flex align-items-center">
                <a
                  class="btn btn-round btn-sm mb-0 btn-outline-primary me-2"
                  routerLink="/login"
                  *ngIf="!isLoggedIn"
                  >Login</a
                >
              </li>
              <li class="nav-item">
                <a
                  routerLink="/register"
                  class="btn btn-sm btn-round mb-0 me-1 bg-gradient-dark"
                  *ngIf="!isLoggedIn"
                  >Register</a
                >
              </li>
              <li class="nav-item">
                <a
                  (click)="onLogOut()"
                  class="btn btn-sm btn-round mb-0 me-1 bg-gradient-dark"
                  *ngIf="isLoggedIn"
                  >Logout</a
                >
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </div>
  </div>
</div>
