<div class="page-header min-vh-100">
  <div class="container">
    <div class="row">
      <div
        class="col-xl-4 col-lg-5 col-md-7 d-flex flex-column mx-lg-0 mx-auto"
      >
        <div class="card card-plain">
          <div class="card-header pb-0 text-left bg-transparent">
            <h3 class="font-weight-bolder text-primary text-gradient">Login</h3>
            <p class="mb-0">Enter your email and password to login</p>
          </div>
          <div class="card-body">
            <form #loginForm="ngForm" (submit)="onLogin(loginForm)">
              <div class="mb-3">
                <input
                  type="email"
                  class="form-control form-control-lg"
                  placeholder="Email"
                  aria-label="Email"
                  name="email"
                  ngModel
                  required
                />
              </div>
              <div class="mb-3">
                <input
                  type="password"
                  class="form-control form-control-lg"
                  placeholder="Password"
                  aria-label="Password"
                  name="password"
                  ngModel
                  required
                />
              </div>
              <div class="text-center">
                <button
                  class="btn bg-gradient-primary w-100 mt-4 mb-0"
                  [disabled]="progressBar"
                >
                  <span
                    class="spinner-border spinner-border-sm"
                    aria-hidden="true"
                    *ngIf="progressBar"
                  ></span>
                  &nbsp;&nbsp;
                  <span>Login</span>
                </button>
              </div>
            </form>
          </div>
          <div class="card-footer text-center pt-0 px-lg-2 px-1">
            <p class="mb-4 text-sm mx-auto">
              Don't have an account?
              <a
                routerLink="/register"
                class="text-primary text-gradient font-weight-bold"
                >Register</a
              >
            </p>
          </div>
        </div>
      </div>
      <div
        class="col-6 d-lg-flex d-none h-100 my-auto pe-0 position-absolute top-0 end-0 text-center justify-content-center flex-column"
      >
        <div
          class="position-relative bg-gradient-primary h-100 m-3 px-7 border-radius-lg d-flex flex-column justify-content-center overflow-hidden"
          style="
            background-image: url('https://raw.githubusercontent.com/creativetimofficial/public-assets/master/argon-dashboard-pro/assets/img/signin-ill.jpg');
            background-size: cover;
          "
        >
          <span class="mask bg-gradient-primary opacity-6"></span>
          <h4 class="mt-5 text-white font-weight-bolder position-relative">
            "Random Food Trivia"
          </h4>
          <p class="text-white position-relative">
            The more effortless the writing looks, the more effort the writer
            actually put into the process.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
